---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="lesson-list">
    {% for lesson in site.lessons %}
      <li>
        <h2>
          <a class="lesson-link" href="{{ lesson.url | prepend: site.baseurl }}">{{ lesson.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

</div>
